@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: rgb(13, 26, 45);
}


h1 {
    font-family: 'Outfit' sans-serif;
    font-weight: 700;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 39, 63);
    width: 16em;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
}

.card-content{
    width: 100%;
}

.img-big {
    width: 100%;
    height: 14em;
    border-radius: 10px;
    margin-bottom: 0.5em;
}

.card p {
    font-size: 18px;
    font-family: 'Outfit' sans-serif;
    font-weight: 600;
    color: rgb(227, 234, 245);
    margin: 0;
}

.card span {
    font-size: 13px;
    font-family: 'Outfit' sans-serif;
    font-weight: 400;
    color: rgb(97, 118, 149);
    margin: 15px;
    margin-left: 20px;
}
span.subtext{
    padding: 0;
    margin: 0;
}

.eth {
    background-image: url(/Solutions/Project3/images/icon-ethereum.svg);
    background-repeat: no-repeat;
}

h3 {
    font-size: 11px;
    font-weight: 300;
    margin-top: 2px;
    margin-left: 18px;  
    color: rgb(4, 255, 249);     
}

.clk {
    background-image: url(/Solutions/Project3/images/icon-clock.svg);
    background-repeat: no-repeat;
}

.cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

h4 {
    font-size: 11px;
    font-weight: 300;
    margin-top: 2px;
    margin-left: 22px;  
    color: rgb(97, 118, 149);  
}

hr {
    width: 85%;
    border-color: rgb(97, 118, 149);
    text-align: right;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.avt {
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
 
}

.ava{
    padding-right: 8px;
}

.avt > h5 {
    font-size: 12px;
    color: rgb(227, 234, 245);
    padding: 6px;
    margin: 0;
}

.caption {
    font-size: small;
    margin: 0 !important;
    padding: 0 !important;
}

.pic-wrapper{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
}
.pic-wrapper > img {
    width: 100%;
    height: 100%; 
}